.list:hover{
    text-decoration:underline;
}

.list1:hover{
    color:'#1DA1F2';
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: #ffffff;
    color: #ffffff;
    font-size: 14px;
    background: #38b3ff;
    padding: 9px 14px 9px 14px;
    text-decoration: none;
    float: right;
    margin-top: 10px;
    margin-right: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .btn:hover {
    background: #1DA1F2;
    text-decoration: none;
  }

